<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JPHeaderViewScale.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2BE16AB1DCB3C03005F9C1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2BE16C41DCB3C03005F9C1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2BE16CF1DCB3C04005F9C1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
